<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>URL</h1>
    <a th:href="@{http://www.baidu.com/{type}(type=${type})}">link1</a>
    <br/>
<!--
        上例中 URL 最后的 (pageId=${pageId}) 表示将括号内的内容作为 URL 参数处理，该语法避免使
        ⽤字符串拼接，⼤⼤提⾼了可读性；
        下文将{pageId}在（pageId=${pageId}}）替换，避免字符串拼接
-->
    <a th:href="@{http://www.ityouknow.com/{pageId}/can-use-springcloud.html(pageId=${pageId})}">view</a>
    <br/>
    <a th:href="@{{url}(url=${url})}">百度一下</a>
    <br/>
    <div th:style="'background:url('+@{${img}}+ ');'">img</div>
</body>
</html>