<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <h1>Utility</h1>
        <h2>dates</h2>
<!--        日期格式化输出-->
        <p th:text="${#dates.format(date,'yyyy-MM-dd HH/mm/ss')}"></p>
        <br/>
<!--        输出当前日期精确到天-->
        <p th:text="${#dates.createToday()}"></p>
        <br/>
<!--        输出当前日期精确到秒-->
        <p th:text="${#dates.createNow()}"></p>
        <br/>
        <h2>strings</h2>
<!--        判断字符串是否为空,返回为bool类型,相似的还有arrayisEmpty() listisEmpty() setisEmpty()-->
        <p th:text="${#strings.isEmpty(userName)}">userName</p>
<!--        输出字符串长度-->
        <p th:text="${#strings.length(userName)}">length</p>
<!--        字符串拼接-->
        <p th:text="${#strings.concat(userName,age,pass)}"></p>
<!--        创建自定义长度的字符串-->
        <p th:text="${#strings.randomAlphanumeric(count)}"></p>
    </div>
</body>
</html>